@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --yellow: rgba(241, 241, 94, 0.51);
    --pink: rgba(250, 119, 104, 0.51);
    --purple: rgba(247, 161, 247, 0.51);
    --blue: rgba(115, 194, 220, 0.51);
    --green: rgba(164, 255, 164, 0.51);
    --red: rgba(233, 69, 69, 0.51); 
    --bold-purple: rgba(107, 0, 107, 0.51);
    --bold-brown: rgba(117, 30, 30, 0.51);
    --orange: rgba(252, 168, 11, 0.51);
    --gold: rgba(240, 217, 88, 0.51);
    
}

* {
    font-family: 'Roboto', sans-serif;


}

.pt {
    display:flex;
    align-items: center;
    justify-content: center;

}

.info {
    border: 2px solid black;
    margin-left:30px;
    margin-right:30px;
    width:30%;
    height: 400px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.456);
    transition: 1s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

td{
    border:solid rgba(0, 0, 0, 0.701);

}

.empty {
    border: none;
    box-shadow: none;
}


.info:hover {
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.653);
}

.myTable {
    width:50%;
    margin-top: 30px;
    margin-left: 30px;
}

.myTable > thead > tr > th {
    color:black;
    text-align: center;
    /* border: solid black; */
    padding: 20px;
}

p {
    padding:0;
    margin:0;
}

.number {font-size:15px;}
.element {font-size: 30px;}

.myTable > tbody > tr > th {
    color:black;
    text-align: center;
}


.myTable > tbody > tr > td:not(.empty) {
    color:black;
    font-size: 20px;
    text-align: center;
    padding:8px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.456);
    transition:0.2s;
}

.myTable > tbody > tr > td:not(.empty):hover {
    box-shadow: 0 30px 30px 0 rgba(0,0,0,0.653);
}

.myTable > tbody > tr > td:not(.empty):active {
    background-color: rgba(209, 197, 197, 0.367);
}



.noblegas {
    background-color: var(--orange);
}

.alkali {
    background-color: var(--red);
}

.nonmetal {
    background-color: var(--yellow);
}

.transition {
    background-color: var(--blue);
}

.alkaline {
    background-color: var(--purple);
}

.post-transition {
    background-color: var(--green);
}

.metalloid {
    background-color: var(--pink);
}

.lanthanide {
    background-color: var(--bold-purple);
}

.actinide {
    background-color: var(--bold-brown);
}


#atomicMass{
    padding:10px;
    font-size: 20px;
    transition: 1s;
}

#atomicNumber {
    padding:10px;
    font-size: 20px;

}

#elementName {
    padding:30px;
    font-size: 40px;

}

footer {
    text-align: center;
    position:fixed;
    padding: 30px;
    bottom:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.178);

}
h6 {padding:0;margin:0;}

@media (max-width: 1300px) { 

    .pt {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .info {
        margin: 20px;
    }
    
    


 }

